<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>Site Haritası</strong>
                </h4>
                <hr />
                <p>

                    <a href="/home/About">
                        <span class="glyphicon glyphicon-info-sign "></span>
                        Hakkımızda.
                    </a> <br />

                    <a href="/Home/MostLiked">
                        <span class="glyphicon glyphicon-star"></span>
                        En Çok Beğenilen Yazılar.
                    </a> <br />

                    <a href="/Home/Index">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Son Yazılar.
                    </a>

                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong> Hi! My Name Is </strong>
                </h4>
                <hr />

                <p>
                    Fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod. <br />
                    MyEverySht &copy;<br />  @DateTime.Now.Year
                </p>

            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>
                        E-Bülten Üyeliği
                    </strong>
                </h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    <p>
                        Malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-Mail Adresiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder!

                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->