@using MyEvernote.Entites.Messages
@using MyEvernote.WebApp.ViewModels
@model ErrorViewModel
@{
    ViewBag.Title = Model.Title;
}
<link href="~/Content/login-register.css" rel="stylesheet" />

<div class="container">
    <div class="row main">
        <div class="form-header">
            <h3 class="text-center ">@Model.Header </h3>
        </div>
        <div class="input-content">
            <hr class="colorgraph"><br>
            <div class="text-danger">
                <h2><span class="glyphicon glyphicon-remove-sign"></span> &nbsp; &nbsp; &nbsp; @Model.Title</h2>
                <hr />
                <p class="text-justify">
                    
                    @foreach (ErrorMessageObj msg in Model.Items)
                    {
                        @msg.Message <br>
                    }
                </p>
            </div>
        </div>
    </div>
</div>

@{
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = "setTimeout(function () { window.location = '" + Model.RedirectingUrl + "';}, " +
            Model.RedirectingTimeout + ");";
    }
}

<script>

    $(function () {
 @Html.Raw(js);
});
</script>

